{% extends 'front-end/base.html.twig' %}

{% block main %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
                {% for msg in app.session.flashbag.get('info') %}
                    <div class="flashback">
                        <p style="color: green">{{ msg }}</p>
                    </div>
                {% endfor %}

                    <span class="login100-form-title p-b-34 p-t-27">
						Messages
					</span>


                    {% for message in messages %}
                    <div class="msg">
                        <div class="msg-left">
                        {% if app.user == message.sender %}

                            <p class="msg-user" type="text">{{ message.recipient.username }}</p>

                        {% else %}

                            <p class="msg-user" type="text">{{ message.sender.username }}</p>


                        {% endif %}
                            <time class="thread-date">
                                {{ message.dateAdded|date('Y-m-d') }}
                            </time>
                        </div>
                        <div class="msg-content">
                                <p>{{ message.content|length > 50 ? message.content|slice(0, 40) ~ '...' : message.content }}</p>
                        </div>

                        <a class="book" href="{{ path('user_view_message', {'id': message.session.id}) }}">
                            {% if message.session.isRead == false and message.recipient == app.user  %}
                                <div class="btn-ctr">
                                    Unread
                                </div>
                            {% else %}
                                <div class="btn-ctr">
                                    View
                                </div>
                                {% endif %}
                        </a>
                    </div>
                        <hr>

                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


