{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert-danger">
            <a href="#" class="close" data-dismiss="alert"></a>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('send_message', {ownerId: ownerId}) }}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Send Message</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="message_content">To:</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.content, { 'attr':{'id': 'content_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="message_content">Content:</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.content, { 'attr':{'id': 'content_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>


{% endblock %}
