{% extends 'front-end/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}
{% block main %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{{ path('homepage') }}" method="post">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
                    {% for msg in app.session.flashbag.get('info') %}
                        <div class="flashback">
                            <p style="color: green">{{ msg }}</p>
                        </div>
                    {% endfor %}
                    <span class="login100-form-title p-b-34 p-t-27">
						Find a Place
					</span>

                    <div class="wrap-input100 validate-input">
                        {{ form_widget(form.country, { 'attr':{'id': 'country_form', 'class': 'input100'} }) }}

                    </div>

                    <div class="wrap-input100 validate-input">
                        {{ form_widget(form.city, { 'attr':{'id': 'city_form', 'class': 'input100'} }) }}
                    </div>

                    <div class="wrap-input100 validate-input">
                        {{ form_widget(form.capacity, { 'attr':{'id': 'capacity_form', 'class': 'input100'} }) }}
                    </div>

                        <input type="text" name="daterange" id="daterange" class="input100" value="01/01/2018 - 01/15/2018"/>
                        <input type="hidden" name="search[startDate]" id="startDate">
                        <input type="hidden" name="search[endDate]" id="endDate">

                    {#<div class="wrap-input100 validate-input">#}
                        {#{{ form_widget(form.startDate, { 'attr':{'id': 'startDate_form', 'class': 'input100'} }) }}#}
                    {#</div>#}

                    {#<div class="wrap-input100 validate-input">#}
                        {#{{ form_widget(form.endDate, { 'attr':{'id': 'endDate_form', 'class': 'input100'} }) }}#}
                    {#</div>#}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Find
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>

        $('input[name="daterange"]').daterangepicker();

        let date_range = $('#daterange').val();
        let dates = date_range.split(" - ");

        let startDate = dates[0];
        let endDate = dates[1];

        document.getElementById("startDate").setAttribute('value', startDate);
        document.getElementById("endDate").setAttribute('value', endDate);

    </script>
{% endblock %}



