{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            {% for place in places %}
                <div class="col-md-6">
                    <article>
                        <a href="{{ path('place_view', {'id': place.id}) }}">
                            <img src="{{ asset('uploads/photos/' ~ place.photo) }}" style="max-height: 50%; max-width: 50%">
                            <header>
                                <h2>{{ place.name }}</h2>
                            </header>
                        </a>
                        <p>
                            {{ place.summary }}
                        </p>
                        <small class="author">
                            {{ place.country}}
                        </small>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

