{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div class="col-md-12">
                        <img src="{{ asset('uploads/photos/' ~ reservation.place.photo) }}" style="max-height: 50%; max-width: 50%">
                    </div>
                    <div class="col-md-6">
                        <header>
                            <h2>{{ reservation.place.name }}</h2>
                        </header>
                        <small class="author">
                            {{ reservation.place.country }}
                        </small>
                        <h5>Contact <a href="{{ path('send_message', {ownerId: reservation.place.ownerId, placeId:  reservation.place.id}) }}">{{ reservation.place.owner.username }}</a> </h5>
                        <p>{{ reservation.startDate|date('d M Y') }} - {{ reservation.endDate|date('d M Y')  }}</p>
                        <p>Total price: <strong>{{ reservation.totalMoney }}$</strong></p>
                        <hr>
                        {#<button class="collapsible">Description</button>#}
                        <div class="content">
                            <p>{{ reservation.place.description }}</p>
                        </div>
                        <hr>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="{{ path('homepage') }}">Back</a>
                            </div>
                        </footer>
                    </div>

                </article>
            </div>
        </div>
    </div>

{% endblock %}


