{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert-info">
            <a href="#" class="close" data-dismiss="alert"></a>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="content">
        <div class="row">
            {% for trip in trips %}
                <div class="col-md-6">
                    <article>
                        <a href="{{ path('user_reservation', {'id': trip.place.id}) }}">
                            <img src="{{ asset('uploads/photos/' ~ trip.place.photo) }}" style="max-height: 50%; max-width: 50%">
                        </a>

                        <a href="{{ path('user_reservation', {'id': trip.place.id}) }}">

                            <header>
                                <h2>{{ trip.place.name }}</h2>
                            </header>
                        </a>

                        <small class="author" style="padding-top: 10px">
                                {{ trip.place.address.countryName }}
                            </small>

                            <h5>Contact <a href="{{ path('send_message', {ownerId: trip.place.ownerId, placeId:  trip.place.id}) }}">{{ trip.place.owner.username }}</a> </h5>
                            <h5>{{ trip.startDate|date('d M Y') }} - {{ trip.endDate|date('d M Y')  }}</h5>

                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

