<div class="dropdown">
    <button class="dropbtn">Notifications({{ notificationsCount }})
        <i class="fa fa-caret-down"></i>
    </button>
    <ol class="dropdown-content">
        {% if notifications is not empty %}
            {% for notification in notifications %}
            <li><a href="{{ path('place_details', {id: notification.booking.place.id, notificationId: notification.id}) }}">{{ notification.content }}</a></li>
            {#<a href="{{ path('user_mailbox') }}">Messages({{ msgCount }})</a>#}
            {% endfor %}
        {% else %}
        <li>You have no new notifications</li>
        {% endif %}
    </ol>
</div>