{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('place_edit', {id: place.id}) }}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit Place</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Place Name</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.name, { 'attr':{'id': 'name_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.description, { 'attr':{'id': 'description_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="form_capacity">Capacity</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.capacity, { 'attr':{'id': 'capacity_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Price per night</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.price, { 'attr':{'id': 'price_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="font-size: large">Address</label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="form_address_country">Country</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.address.country, { 'attr':{'id': 'country_address_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="form_street">City</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.address.city, { 'attr':{'id': 'coity_address_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="form_street">Street</label>
                        <div class="col-sm-6">
                            {{ form_widget(form.address.street, { 'attr':{'id': 'street_address_form', 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Change image:</label>
                        <div class="col-sm-4 ">
                            <input type="file" name="place[photo]" id="fileToUpload">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('place_view', {id: place.id}) }}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

