{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert-success">
            <a href="#" class="close" data-dismiss="alert"></a>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <div>
                        <img src="{{ asset('uploads/photos/' ~ place.photo)}}" style="max-height: 50%; max-width: 50%">
                    </div>
                    <div>
                        <header>
                            <h2>{{ place.name }}</h2>
                        </header>
                        <h5>Contact <a href="{{ path('send_message', {ownerId: place.ownerId, placeId: place.id}) }}">{{ place.owner.username }}</a> </h5>
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <button class="collapsible">Description</button>
                        <div class="content">
                            <p>{{ place.description }}</p>
                        </div>
                        <hr>
                        <small class="author">
                            {{ place.country }}
                        </small>
                        <footer>
                            <div class="pull-right">
                                {% if app.user and (app.User == place.owner or app.getUser().isAdmin()) %}
                                    <a class="btn btn-success btn-xs" href="{{ path('place_edit', {id: place.id}) }}">Edit</a>
                                    <a class="btn btn-danger btn-xs" href="{{path('place_delete', {id: place.id}) }}">Delete</a>
                                {% endif %}
                                <a class="btn btn-default btn-xs" href="{{ path('homepage') }}">Back</a>
                            </div>
                        </footer>
                    </div>
                    {% if (app.getUser().getId() is not same as (place.ownerId)) %}
                    <div class="col-lg-offset-6 table-bordered">
                            <h2 class="text-center">Book</h2>
                        <div>
                            <p>Price per night: {{ place.price }}$</p>
                            <form  action="{{ path('place_view', {id: place.id})  }}" method="post">
                                Pick up dates: <input type="text" name="daterange"/>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>



    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });

    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}


