{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="alert-info">
            <a href="#" class="close" data-dismiss="alert"></a>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="content">
        <div class="row">
            {% for place in places %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article>
                        <div>
                        <a href="{{ path('place_view', {'id': place.id}) }}">
                            <img src="{{ asset('uploads/photos/' ~ place.photo ) }}" style="max-height: 100%; max-width: 100%;">
                        </a>
                        </div>
                        <br/>
                        <small class="author" style="padding-top: 10px">
                            {{ place.country }}
                        </small>
                        <p>
                            {{ place.price }}$
                        </p>
                        <a href="{{ path('place_view', {'id': place.id}) }}">
                            <h3>{{ place.name }}</h3>
                        </a>
                        <p>
                            {{ place.summary }}
                        </p>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
