{% extends 'front-end/base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashbag.get('info') %}
        <div class="flashback">
            <p style="color: #05728f">{{ msg }}</p>
        </div>
    {% endfor %}

    <section id="main-container">
        {% for place in places %}
            <article class="singleAd">
                <div class="img-container">
                    {#<a href="{{ path('place_view', {'id': place.id}) }}">#}
                    <img class="place-img" src="{{ asset('uploads/photos/' ~ place.photo ) }}">
                </div>

                <section class="middle-part">
                    <section class="left-ctr">
                        <p>{{ place.address.countryName }} - {{ place.address.city }}</p>
                        <h1>{{ place.name }}</h1>
                        <p class="price">{{ place.price }}$ per night</p>
                    </section>
                    <section class="right-ctr">

                        <a class="book" href="{{  path('place_details', {'id': place.id}) }}">
                            <div class="btn-ctr">
                                Details
                            </div>
                        </a>
                    </section>
                </section>
                {#<p>#}
                {#{{ place.summary }}#}
                {#</p>#}
            </article>
        {% endfor %}
    </section>
{% endblock %}